[submodule "pulumi"]
	path = pulumi
	url = https://github.com/pulumi/pulumi
[submodule "templates"]
	path = templates
	url = https://github.com/pulumi/templates
[submodule "examples"]
	path = examples
	url = https://github.com/pulumi/examples
	branch = t0yv0/update-java-examples-to-maven
