on:
  push:
    tags:
      - v*.*.*
    paths-ignore:
      - "CHANGELOG.md"
      - ".changes/**"
      - "README.md"

env:
  GITHUB_TOKEN: ${{ secrets.PULUMI_BOT_TOKEN }}

jobs:
  release-pulumi-language-java:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - name: Fetch Tags
        run: |
          git fetch --quiet --prune --unshallow --tags
      - name: Setup mise and install tools
        uses: jdx/mise-action@v3.4.0
      - name: Get the latest version
        id: latest
        uses: miniscruff/changie-action@v2
        with:
          args: latest
      - name: Add env vars
        run: |
          echo GORELEASER_CURRENT_TAG=${{ steps.latest.outputs.output }} >> $GITHUB_ENV
          echo RELEASE_NOTES_PATH=.changes/${{ steps.latest.outputs.output }}.md >> $GITHUB_ENV
      - name: Set up Go 1.19.x
        uses: actions/setup-go@v5
        with:
          go-version: stable
      - name: Configure Go cache
        id: go-cache-paths
        run: |
          echo "go-build=$(go env GOCACHE)" >> "$GITHUB_OUTPUT"
          echo "go-mod=$(go env GOMODCACHE)" >> "$GITHUB_OUTPUT"
      - name: Set up Go cache
        uses: actions/cache@v4
        id: go-cache
        with:
          path: |
              ${{ steps.go-cache-paths.outputs.go-build }}
              ${{ steps.go-cache-paths.outputs.go-mod }}
          key: go-cache-${{ hashFiles('**/go.sum') }}
      - name: Run GoReleaser
        uses: goreleaser/goreleaser-action@v6
        with:
          version: latest
          args: -p 3 -f .goreleaser.yml --clean --release-notes=${{ env.RELEASE_NOTES_PATH }}
